@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,100|Asap:400,400italic");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/640938842735fcfcd061a44e.640938852735fcfcd061a451.pLd4PAk.hcp.png");

@font-face {
  font-family: "Arial-Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}


* {
  box-sizing: border-box;
}
